{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FORM PAGES</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
</head>

<body>
{% include 'nav.html' %}
<form>
    <div class="form">
    <h2 style="font-weight: bold; font-size: 24px; text-align: center; color:#FFA3AE;">REGISTRATION FORM</h2>
        <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="Enter Your Name">
        </div>
        <div class="form-group">
            <label for="exampleBirthdate1">Birth-date</label>
            <input type="date" class="form-control" id="exampleBirthdate1" aria-describedby="birthdateHelp" placeholder="Enter Your Birth Date">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputuserName1">Username</label>
            <input type="text" class="form-control" id="exampleInputuserName1" aria-describedby="usernameHelp" placeholder="Enter Your Username">
        </div>
        <div class="form-group">
            <label for="exampleRe-InputPassword1">Re-enter Password</label>
            <input type="re-enterpassword" class="form-control" id="exampleRe-InputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</body>

</html>

