{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MY PROFILE WEBSITE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
</head>
<body>
{% include 'nav.html' %}
<div class="landing row align-item-center">
    <div class="header">
        <div class="contentHeader">
            <h1>WELCOME!</h1>
            <h1 style="margin-bottom: 20px;">I’M CHELSY LIFARDY</h1>
        </div>
        <div class="content">
            <p> a student of Universitas Indonesia majoring </p>
            <br> <p> Information System who has passion in UI/UX </p>
            <br> <p> let’s explore my profile webpage! </p> 
        </div>
        <div class="explore">
            <button class="button">EXPLORE NOW</button>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="aboutMe">
            <img class="profpic" src="https://image.ibb.co/cF22ge/about_me.png">
        </div>
    </div>
</div>

<div class="mySkill">
    <h2 style="font-weight: bold">MY SKILL</h2>
    <div class="img-skill row">
        <div class="img-capt col-md-3 col-xs-12">
            <div class="img-capt">
                <img src="{% static 'img/001-photoshop.svg' %}" width="150" height="150">
            </div>
            <p>Adobe Photoshop</p>
        </div>
        <div class="img-capt col-md-3 col-xs-12">
            <div>
                <img src="{% static 'img/002-illustrator.svg' %}"width="150" height="150">
            </div>
            <p>Adobe Illustrator</p> 
        </div>
        <div class="img-capt col-md-3 col-xs-12">
            <div>
                <img src="{% static 'img/003-after-effects.svg' %}" width="150" height="150">
            </div>
            <p>Adobe After Effects</p>
        </div>
        <div class="img-capt col-md-3 col-xs-12">
            <div>
                <img src="{% static 'img/004-programming.svg' %}" width="150" height="150">
            </div>
            <p>Python, HTML, CSS</p>
        </div>
    </div>
</div>

<div class ="portfolio">
    <h2 style="font-weight: bold">PORTFOLIO</h2>
    <div class="row">
        <div class="img col-md-4 col-xs-12">
            <div class="img-capt">
                <a href="">
                <img src="{% static 'img/Rectangle 3.1.png' %}" class="img-size">
                </a>
                <span>Tokopedia User Profile Redesign</span>
                <span class="txt">Doing user research, deliver the design for tokopedia new feature.</span>
            </div>
        </div>
        <div class="img col-md-4 col-xs-12">
            <div class="img-capt">
                <img src="{% static 'img/Rectangle 3.2.png' %}" class="img-size">
                <span>Instagram Simple Redesign</span>
                <span class="txt">Analze a few of instagram’s user experience that using Instagram, define the problem and the most effective solution.</span>
            </div>
        </div>
        <div class="img col-md-4 col-xs-12">
            <div class="img-capt">
                <img src="{% static 'img/Rectangle 3.png' %}" class="img-size">
                <span>Susun Jadwal Redesign</span>
                <span class="txt">Redesign Susun Jadwal website according RISTEK’S theme this year by adding new feature such as Live Preview.</span>
            </div>
        </div>
    </div>
</div>
<div class="footer row">
    <div class="contact me">
        <h1 style="font-weight: bold">CONTACT ME!</h1>
    </div>
    <div class="text">
        <p class="desc">
            www.linkedin.com/chelsylifardy
            <br>chelsy.lifardy@ui.ac.id
            <br>0819-198-9898-1
        </p>
    </div>
</div>
</body>
</html>