{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SCHEDULE LIST</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
</head>
<body>
    {% include 'nav.html' %}
    <div class = "sch-print">

        <h1 align = "center"> SCHEDULE LIST </h1>
        <div class = "sch-lst ">
            {% for x in sch %}
                <div class = "lst col-md-4 col-xs-12">
                    <p> Nama Kegiatan : {{ x.nama_kegiatan }} </p>
                    <p> Tanggal Kegiatan : {{ x.tanggal_kegiatan }} </p>
                    <p> Waktu Mulai : {{ x.waktu_mulai }} </p>
                    <p> Waktu Selesai : {{ x.waktu_selesai }} </p>
                    <p> Tempat : {{ x.tempat }} </p>
                    <p> Kategori : {{ x.kategori }} </p>
                    <p> Catatan : {{ x.notes }} </p>
                </div>
            {% endfor %}
        </div>
        <div class="btn-del">
            <a href="{% url 'sch_add' %}">
                <button class="btn btn-primary"> BACK </button>
            </a>
            <form  action="/sch_view/" method="POST">
                <div class="btn-sub-all">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary del">DELETE ALL</button>
                </div>
            </form>
        </div>
    </div>


</body>