{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADD SCHEDULE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
</head>
<body>
    {% include 'nav.html' %}
    <form class="sch" action="/sch_add/" method="POST">
        <div class="sch-text">
            <p> ADD SCHEDULE </p>
        </div>
        {% csrf_token %}
        {% for x in schedule %}
        <div class="form-group design-form ">
            {{ x.label_tag }}
            {{ x }}
        </div>
        {% endfor %}

        <div class="btn-sub-all">
            <button type="submit" class="btn btn-primary">SUBMIT</button>
            <a href="{% url 'form_result' %}" class="show-sch"> SHOW ALL SCHEDULES </a>
        </div>
    </form>
</body>
</html>

