html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', serif;
    background-image: url("https://image.ibb.co/coT8nK/Asset_2.png");
    background-size: cover;
}

.landing {
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: 'Open Sans', serif;
    font-size: 14px;
    line-height: 0;
}

.landing .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #FFA3AE;
    border-radius: 20px;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.25);
    padding: 8px 12px 8px 12px;
}

.navbar-brand {
    font-family: 'Open Sans', serif;
    font-weight: bolder;
}

.bg-light {
    background-color: transparent !important;
}

.contentHeader {
    /* margin-top: 150px; */
    font-size: 24px;
}

.contentHeader h1 {
    font-weight: bolder;
}

.content p {
    margin-bottom: 18px;
}

.explore .button {
    background-color: #FFFFFF;
    border-radius: 30px;
    border: none;
    color: #FFA3AE;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;

}

.img {
    justify-content: space-evenly;
    align-items: center;
}

.img img {
    width: 140px;
    height: 140px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.trackRecord {
    padding: 100px;
    font-weight: 400;
}

.mySkill {
    padding: 60px;
    font-weight: 800;
}

.portfolio {
    padding: 60px;
    font-weight: 800;
}

li {
    display: inline;
    /* float: right; */
}

.img .img-size {
    width: 324px;
    height: 255px;
}

.content p {
    height: auto;
}

.img-capt span {
    padding-top: 16px;
    /* align: center; */
}

.txt {
    width: 240px;
    font-size: 12px;
    font-weight: 100;
}

.footer {
    display: flex;
    flex-direction: column;
    height: 308px;
    background-color: #F7F5F5;
    justify-content: center;
    align-items: center;
}

.desc {
    text-align: center;
}

.text-muted {
    font-weight: 800
}

.form{
    padding: 100px;
}

.contentPortfolio{
    padding: 150px;
}

.contentPortfolio h1 {
    font-weight: bolder;
}
.img-capt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mySkill p {
    font-weight: 400;
    text-align: center;
    margin: 16px;
}
.img-skill {
    padding-top: 24px;
}

.sch {
   margin: 100px 250px 250px 250px;
}
.sch-text, .sch-print h1 {
    text-align: center;
    color:#FFA3AE;
    font-weight: 800;
    font-size: 28px;
    padding-bottom: 50px;
}

.btn {
    background-color: #FFA3AE;
    color: #FFFFFF;
    border-color: rgb(253, 130, 130);
    border-radius: 20px;
    padding: 8px 28px 8px 28px;
}

.lst {
    background-color: white;
    margin: 0.5rem;
    padding: 24px;
    border-radius: 28px;
    border-width: 2px;
    border-style: solid;
    border-color:#FFA3AE;
}

.lst p {
    margin-bottom: 0px;
}

.sch-lst {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sch-print {
    margin: 100px;
}

a {
    margin: 16px;
}

.show-sch {
    font-size: 14px;
    color: #FFA3AE;
    font-weight: bolder;
    margin: 20px;
}

.btn-sub-all {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 16px;
}

.btn-sub-all .del{
    background-color: white;
    color: #FFA3AE;
    border-color: rgb(253, 130, 130);
    border-radius: 20px;
    padding: 8px 28px 8px 28px;
}

.btn .del {
    background-color: white;
    color: #FFA3AE;
    border-color: rgb(253, 130, 130);
    border-radius: 20px;
    padding: 8px 28px 8px 28px;
}

.btn-del {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .profpic {
        max-width: 400px;   
    }

    .bg-light {
        background-color: white !important;
    }

    .mySkill h2 {
        text-align: center;
    }

    .portfolio h2 {
        text-align: center;
    }

    .contentHeader {
        margin-top: 150px;
        font-size: 24px;
    }

    .sch {
        margin: 20px;
    }

    .sch-text, .sch-print h1 {
        text-align: center;
        color:#FFA3AE;
        font-weight: 800;
        font-size: 20px;
        margin-top: 100px;
        padding-bottom: 24px;
    }

    .sch-print {
        margin: 20px;
    }

    .show-sch {
        color: white;
    }

    .btn-del {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}