<div class="navbar navbar-expand-md bg-light navbar-light fixed-top">
    <a class = "navbar-brand">CLIFARDEY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item" id="profile"><a class="nav-link" href="{% url 'index' %}">PROFILE</a></li>
            <li class="nav-item" id="portfolio"><a class="nav-link" href="">PORTFOLIO</a></li>
            <li class="nav-item" id="schedule"><a class="nav-link" href="{% url 'sch_add' %}">SCHEDULE</a></li>
            <li class="nav-item" id="form"><a class="nav-link" href="{% url 'form' %}">FORM</a></li>
        </ul>
    </div>
</div>
